@using ExamProject.Areas.Admin.ViewModels.Profession
@model List<GetProfessionDetailsVM>

@{
    int id = 0;
}



<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Professions</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prof in Model)
                        {
                            id++;
                            <tr>
                                <td>@id</td>
                                <td>@prof.Name</td>
                                <td>
                                  @prof.Description
                                </td>
                            </tr>
                        }
                    </tbody>

              
                </table>
            </div>
        </div>
    </div>
</div>
