@using ExamProject.Areas.Admin.ViewModels.Profession
@model UpdateProfessionVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Update Profession
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name" for="exampleInputUsername1">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputUsername1" placeholder="@Model.Name">
                    <span asp-validation-for="Name"> </span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" for="exampleInputUsername1">Description</label>
                    <input asp-for="Description" as type="text" class="form-control" id="exampleInputUsername1" placeholder="@Model.Description">
                    <span asp-validation-for="Description"> </span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>